.SearchFilters {
  form * {
    margin-left: 0.6rem;
  }
  form > *:nth-child(1) {
    margin-left: 0;
  }
  label, input[type=submit] {
    margin-left: 1.8rem;
  }
  input[type=submit] {
    background: #ff4f37;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 0.4rem;
  }
  input[type=submit]:disabled {
    background: gray;
    color: lightgray;
    cursor: default;
  }
}